streamlit
numpy
torch
pandas
fpdf
scikit-learn
plotly
seaborn
matplotlib
replicate
huggingface_hub
python-dotenv
gtts
streamlit-card
Pillow
folium
streamlit-folium
Markdown
markdown-it-py
MarkupSafe
numerize
oauthlib
openpyxl
opt-einsum
packaging
pandas-profiling
streamlit-apexjs
streamlit-elements
streamlit-option-menu
streamlit-pandas-profiling
plotly-express
scipy
streamlit-extras
decorator
deprecation
